@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato:wght@100;400&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato:wght@100;400&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato:wght@100;400&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato:wght@100;400&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Be+Vietnam+Pro:wght@100&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato:wght@100;400&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Spline+Sans:wght@300&display=swap');
$navColor:#f4f4f4;
$loginColor:#acacac;
$iconColor:#041f68;
$backIcon:#eeeeee;
$lableColor:#878787;
$placeColor:#c9bebe;
$checkColor:#6b6a6ab3;
$inputColor:#808080;
$uploadLogo:#777777;
$dashColor:#929292;
$dashHover:#e0ece5;
$dashtext:#087d40;
$backDash:#f3f3f3;
$btnColor:#7e7e7e;
$headerHover:#00793a;
$nextHover:#0d5731;
$titleColor:#858585;
$borderColor:#bebebe;
$svgColor:#6a6a6a;
$trBack:#e2eae6;
$trColor:#343030;
$svgColor:#766e6e;
$dashboardSvgColor:#b1a4a4;
$dashboardtextColor:#756565;
$realFont:'Baloo Tamma 2';
$titleFont:'Spline Sans', sans-serif;
$uploadFont: 'Lato';
$lableFont:'Baloo Tamma 2', cursive;
$inputFont:"Lato";
$announcementFont:'Spline Sans', sans-serif;
$btnFont:'Be Vietnam Pro', sans-serif;
$proFont:'Be Vietnam Pro',