@import "../../../assests/fonts/variable";

.ann_detail {
     
    .details {
        .ann_title {
            padding: 10px;      
            
       
         .form_name {
             display: table-cell;    
             color: $checkColor;
             font-family: $lableFont;
             font-size: 13px;
             font-weight: 600;
            
          }
          .input_data {
            background: #eeeeee;
            margin: 6px 0 14px 0;
            border: none;
            padding: 13px 13px;
            width: 100%;
            font-family: 'Lato';
            font-size: 14px;
            opacity: .7;
            border-radius: 7px;
             &:focus {
               border: none;
               outline: none;
             }
             
         }
         .input_data2 {
            background: #eeeeee;
            margin: 6px 0 14px 0;
            border: none;
            padding: 13px 13px;
            width: 100%;
            height: 160px;
            font-family: 'Lato';
            font-size: 14px;
            opacity: .7;
            border-radius: 7px;
             &:focus {
               border: none;
               outline: none;
             }
             
         }
     }
    
    }
}