@import '../../../assests/fonts/variable';

.dashboard {
  
    @media screen and (max-width:480px) {
      display:block;
      position: absolute;
    left: 0px;
    top: 34px;
    z-index: 1;
    }
    @media screen and (max-width:768px) {
      display:block;
      position: absolute;
    left: 0px;
    top: 34px;
    z-index: 1;
    }
    @media screen and (max-width:1024px) {
     width: 21%;
    
    z-index: 1;
    }
    .dashboard_container {
        width: 212px;
        height: 100vh;
        padding: 14px;
        box-shadow: 7px 0 9px -5px #888;
        background: white;
        @media screen and (max-width:768px) {
          width: 161px;
        }
        @media screen and (max-width:1024px) {
        height: 95vh;
        }
        
        .bars {
          display: none;
      }
        .dash_content {
            display: flex;
            align-items: center;
            padding: 16px 46px;
            width: 100%;
            cursor: pointer;
            &:hover {
              background-color: $dashHover;
              border-radius: 12px;
              width: 100%;
            
            .for_gap {
              svg {fill:$dashtext};
               h4 {color: $dashtext};
            } 
             }
            @media screen and (max-width:768px) {
             padding:16px 11px;
            }
             
              
              .for_gap {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 7px;
                align-items: center;
               
                svg {
                  width: 15px;
                  fill: $dashboardSvgColor;
                 
                 }
                h4 {
                  color: $dashboardtextColor;
                   font-family: $proFont;
                   font-size: 14px;
                   
            }
        }
        }
    }
}